.container {
    display: flex;
    padding: 50px;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
}
.content, .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

button {
    height: 50px;
    padding: 0 20px;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 5px;
    flex: 1;
    transition: all 0.5s;
}

.reset {
    border: 2px solid red;
}

.reset:hover {
    box-shadow: 3px 3px 3px red;
}

button > p {
    font-weight: bold;
}

button:hover {
    translate: -5px -5px;
    box-shadow: 3px 3px 3px blue;
}
    
h1 {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}